infrastructure_provisioning/.terraform/
infrastructure_provisioning/terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
test_tf/
**/.terraform/
**/plan.out
**/*.tfstate
charts/packaged_charts/
packaged_charts/
infrastructure_provisioning/secrets/stg.tfvars
infrastructure_provisioning/secrets/*.auto.tfvars
